<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <add name="cn" connectionString="workstation id=JuanAvilaPrueba.mssql.somee.com;packet size=4096;user id=zolan_SQLLogin_1;pwd=oxtkqo33ex;data source=JuanAvilaPrueba.mssql.somee.com;persist security info=False;initial catalog=JuanAvilaPrueba" />
    <add name="JuanAvilaPrueba.Properties.Settings.JuanAvilaPruebaConnectionString"
        connectionString="&quot;Empty&quot;" providerName="System.Data.SqlClient" />
</connectionStrings>

