<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <add name="cn" connectionString="Data Source=(localdb)\MSSQLLOCALDB;Initial Catalog=JuanAvilaPrueba;Integrated Security=True" />
    <add name="JuanAvilaPrueba.Properties.Settings.JuanAvilaPruebaConnectionString"
        connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=JuanAvilaPrueba;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>

